.list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #bf07ac;
    border-radius: 5px;
}

.list p{
    padding: 10px;
    position: relative;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}


.list p input:focus{
    outline: none;
}

